@model List<RCodingSchool.ViewModels.SubjectVM>
@{
    ViewBag.Title = "Subject";
}
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr onclick="location.href='link.com'">
                    <th>Назва предмету</th>
                    <th>Вид контролю</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@x.Name, "Chapter", "Chapter", new { id = @x.Id}, null)</td>
                        @if (x.IsExam)
                        {
                            <td>Екзамен</td>
                        }
                        else
                        {
                            <td>Залік</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

