.joinus a:hover {
    text-decoration: none;
}

.form .message {
    font-size: 35px;
    margin: 15px 0 0;
    font-size: 18px;
}

.btn-primary {
    border: 0;
    color: #FFFFFF;
}

.form-joinus {
    background: #FFFFFF;
    padding: 7%;
}


.btn {
    border-radius: 0px;
    padding: 15px;
}

.input-lg {
    min-width: 100%;
    border-radius: 0px;
}

.field-validation-error {
color: #912626;
}