$font-primary: 'Montserrat', Arial, sans-serif;
body {
    font-family: $font-primary;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-fixed-top{
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 30px 10px;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 6em;
}

.dropdown-item {
    min-height: 40px;
    font-size: x-small;
    padding-top: 10px;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 30px 10px;
    transition: .5s;
}

.snippet {
    height: 350px;
    border: 1px solid #C1C1C1;
    overflow: auto;
}

footer {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
    position: fixed;
	height: 80px;
    padding-top:30px;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
}
.comment{
    background-color:ghostwhite;
    padding:20px;
    margin:20px;
}
.commenttext{
      margin:20px;
}
p{
   text-indent: 2em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: 0.4px;
    font-family: "Raleway", Sans-serif;
    color: #232323;
}
.navbar-default .navbar-brand {
    color: #337ab7; 
}
.badge-info {
  background-color: #3a87ad;
}
a:hover {
    text-decoration: none;
}
.main-cols{
    margin-bottom: 2em;
    padding: 1em;
    border-width:1px; 
    border-color:gainsboro; 
    border-style:double;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 0; 
}
.input-group{
   z-index: 0;
}
#file-names{
    padding-bottom: 1em;
}
.teacher-toolbar{
    padding-bottom: 1em;
}