$font-primary: 'Montserrat', Arial, sans-serif;
body {
    font-family: $font-primary;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-fixed-top{
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 30px 10px;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-item {
    min-height: 40px;
    font-size: x-small;
    padding-top: 10px;
}

input,
select,
textarea {
    max-width: 280px;
}
