
@{
    ViewBag.Title = "About";
}

@section Styles{
  @Styles.Render("~/bundles/about")
}

<br />
<div class="container">
    <blockquote class="pull-right">
        <p class="text-left">
            …При вивченні наук приклади корисніші від правил.
        </p>
        <small>І. Ньютон</small>
    </blockquote>
</div>
<div class="wel-info text-center">
    <h2 class="text-info">Про нас</h2>
    <span class="brk"></span>
    <p>
        Даний проект розроблений під час виконання магістерської роботи студенткою 607 групи Атаманюк О.В. під керівництвом Малика І.В.
    </p>
</div>

