
@{
    ViewBag.Title = "About";
}

@section Styles{
  @Styles.Render("~/bundles/about")
}

<br />
<div class="container">
    <blockquote class="pull-right">
        <p class="text-left">
            Оля, не переживай.<br />
            Нікого не виганяли, і тебе не виженуть.<br />
            Посміхайся.
        </p>
        <small>Атаманюк О.В.</small>
    </blockquote>
</div>
<div class="wel-info text-center">
    <h2 class="text-info">Про нас</h2>
    <span class="brk"></span>
    <p>
        Даний проект розроблений під час виконання магістерської роботи студенткою 507 групи Атаманюк О.В.
        Він далеко не ідеальний, та хіба є  в цьому світі хоч зось ідеальне?
    </p>
</div>

