@model RCodingSchool.ViewModels.NewsListVM
@{
    ViewBag.Title = "News";
}

<div class="jumbotron">
    @for (int i = 0; i < Model.AllNews.Count(); i++)
    {
        <div class="media comment">
            <div class="media-left">
                    <span class="glyphicon glyphicon-education"></span>
            </div>
            <div class="media-body">
                <h2 class="media-heading">@Model.AllNews[i].Title</h2>
                <hr />
                <p>@Model.AllNews[i].Description</p>
                @Model.AllNews[i].Date
                <hr/>
                <a href="@Url.Action("NewsDetail", new { id = Model.AllNews[i].Id })" title="">
                    <button class="btn btn-default">Коментарі</button>
                </a>
            </div>
        </div>
    }
</div>